terraform/.terraform/modules/modules.json
terraform/.terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.57.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.57.0/windows_amd64/terraform-provider-azurerm_v4.57.0_x5.exe
